{% if request.user.is_staff %}
<div class=" bg-white profile-section rounded-1 p-4 shadow-2 p-sm-0 ">
    <h2 class="mt-0 b-1 fs-30">Личный кабинет</h2>
    <div class="hr-dark-light"></div>
    <div class=" ">
        <ul class=" d-flex flex-sm-wrap rounded-1    ">
            <li class="mr-3 " >
                <a class="  b-1 rounded-1 btn btn-blue b-1 "  href="{% url 'admin_product' %}"> 
                    
                    Продукты
                </a>
            </li>
            <li class="mr-3 " >
                <a class="  b-1 rounded-1 btn btn-blue b-1"  href="{% url 'storage' %}"> 
                    Склад
                </a>
            </li>
          
            
        </ul>
    </div>
</div>
{% else %}
<div class=" bg-white profile-section rounded-1 p-4 shadow-2 p-sm-0 ">
    <h2 class="mt-0">Профиль</h2>
    <div class=" ">
        <ul class=" d-flex flex-sm-wrap rounded-1    ">
            <li class="mr-3 rounded-1 btn inner-shadow-2" >
                <a class=" fs-15 b-1  text-dark-ocean "  href=""> 
                    
                    Личные данные
                </a>
            </li>
            <li class="mr-3 rounded-1 btn inner-shadow-2" >
                <a class=" fs-15 b-1  text-dark-ocean "  href=""> 
                    Корзина
                </a>
            </li>
            <li class="mr-3 rounded-1 btn inner-shadow-2" >
                <a class="fs-15 b-1    text-dark-ocean "  href="">
                    
                    Поменять логин
                </a>
            </li>
                <li class="mr-3 rounded-1 btn inner-shadow-2" >
                <a class="fs-15 b-1    text-dark-ocean "  href="">
                   
                    Поменять пароль
                </a>
            </li>
            <li class="rounded-1 btn inner-shadow-2" >
                <a class="fs-15 b-1    text-dark-ocean "  href="">
                    
                    Выйти
                </a>
            </li>
        </ul>
    </div>
</div>
{% endif %}