{% extends 'base.html' %}
{% load static %}
{% block title %} Settings {% endblock %}

{% block content %}
   <!-- Main -->
<div class="bg-light settings-page vh-100 bg-sm-none ">
    <div class="container py-4">
        {% include 'pages/settings/menu.html' %}
        <div class=" bg-white shadow-2 rounded-1 p-4 mt-4 p-sm-0 ">
            <div class="d-flex align-items-center justify-content-between">
                <div class="fs-30 b-1">Продукты</div>
            </div>
            <div class="hr-dark-light"></div>
            <div class="editParentRefresh">
                <table class="table table-light editRefresh">
                    <thead>
                        <tr>
                            <td class="text-center">#</td>
                            <td>Цвет</td>
                            <td>Память</td>
                    
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Product Color -->
                        {% for item in product.productcolor_set.all %}
                        <tr>
                            <!-- Counter -->
                            <td class="text-center">
                                <div class="p-3 border-dark-light rounded-1">{{forloop.counter}}</div>
                            </td>
                            <!-- Product Color -->
                            <td>
                                <div class="b-1 mr-2 p-3 border-dark-light rounded-1">{{item.color}}</div>
                            </td>
                            <!-- Memory -->
                            <td>
                                <div class="d-flex align-items-center gap-1">
                                    
                                    {% for memory in item.product_productsColors.all %}
                                        <div class="b-1 mr-2 p-3 border-dark-light rounded-1">{{memory.memory}}GB - {{memory.price}}$</div>
                                    {% empty %}
                                        <div class="b-1 mr-2 p-3 border-dark-light rounded-1">Отсутсвует</div>
                                    {% endfor %}
                                        
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}