{% extends 'base.html' %}
{% load static %}
{% block title %} Settings {% endblock %}

{% block content %}
   <!-- Main -->
<div class="bg-light settings-page vh-100 bg-sm-none ">
    <div class="container py-4">
        {% include 'pages/settings/menu.html' %}
        <div class=" bg-white shadow-2 rounded-1 p-4 mt-4 p-sm-0 ">
            <div class="d-flex align-items-center justify-content-between">
                <div class="fs-30 b-1">Продукты</div>
                <div class="d-flex">
                    <button class="btn btn-green rounded-1 addProductColor">Добавить цвет</button>
                    <form action="{% url 'productColor_create' product.id %}" class="d-flex ml-3 d-none addProductColorContainer" method="POST">
                        {% csrf_token %}
                        <select class="input colorsSelectContainer" name="colorId" id="">
                            {% for color in colors %}
                                <option class="colorsSelect " value="{{color.id}}">{{color.title}}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-green rounded-1 ml-3">Добавить</button>
                    </form>
                </div>
            </div>
            <div class="hr-dark-light"></div>
                <div class="d-flex align-items-end  mb-3 ">
                        <div class="">
                            <label class="label ">Выберите действие</label>
                            <select class="input" name="" id="">
                                <option value="none">-----</option>
                                <option value="delete">Удалить</option>
                            </select>
                        </div>
                        <button class="btn btn-primary rounded-1 ml-3">Выполнить</button>
                </div>
                <table class="table table-light editRefresh">
                    <thead>
                        <tr>
                            <td class=""></td>
                            <td class="text-center">#</td>
                            <td>Цвет</td>
                            <td>Память</td>
                    
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Product Color -->
                        {% for item in product.productcolor_set.all %}
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <!-- Counter -->
                            <td class="text-center">
                                <div class="p-3 border-dark-light rounded-1">{{forloop.counter}}</div>
                            </td>
                            <!-- Product Color -->
                            <td>
                                <div class="b-1 mr-2 p-3 border-dark-light rounded-1 tableColors">{{item.color}}</div>
                            </td>
                            <!-- Memory -->
                            <td class="w-100">
                                <div class="grid-5 w align-items-center gap-1">
                                    
                                    {% for memory in item.product_productsColors.all %}
                                        {% if memory.price == 0 %}
                                        <div class="memory_scene ">
                                            <div class="memory_box ">
                                                <div class="memory_box_front b-1 bg-white px-3 d-flex justify-content-between border-red rounded-1">
                                                    {{memory.memory}}GB 
                                                    <div class="refreshParent">
                                                        <span class="refreshChild{{memory.id}}">Нету</span>
                                                    </div>
                                                </div>
                                                <div class="memory_box_back b-1 px-2 border-dark-light   bg-white rounded-1">
                                                    <input type="text" value="{{memory.price}}" class="input w-80">
                                                    <div class="memory_btns  ">
                                                        <!-- Ajax -->
                                                        <button type="button" data-url="{% url 'admin_product_detail_memory_edit' %}" data-id="{{memory.id}}" class=" top productColorSizeEdit  btn-sm">E</button>
                                                       

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                      
                                            <div class="memory_scene ">
                                                <div class="memory_box ">
                                                    <div class="memory_box_front b-1 bg-white px-3 d-flex justify-content-between border-green rounded-1">
                                                        {{memory.memory}}GB 
                                                        <div class="refreshParent">
                                                            <span class="refreshChild{{memory.id}}">{{memory.price}}$</span>
                                                        </div>
                                                    </div>
                                                    <div class="memory_box_back b-1 px-2 border-dark-light   bg-white rounded-1">
                                                        <input type="text" value="{{memory.price}}" class="input w-80">
                                                        <div class="memory_btns  ">
                                                            <!-- Ajax -->
                                                            <button type="button" data-url="{% url 'admin_product_detail_memory_edit' %}" data-id="{{memory.id}}" class=" top productColorSizeEdit  btn-sm">E</button>
                                                            

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                       
                                        {% endif %}
                                    {% endfor %}
                                        
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
    
        </div>
    </div>
</div>

{% endblock %}