

:root{
    --red--: #ff4d4d;
    --dark-red--: #ff3838;

    --blue--: #00a8ff;
    --dark-blue--: #0097e6;

    --orange--: #fd9644;
    --dark-orange--: #fa8231;

    --yellow--: #fed330;
    --dark-yellow--: #f7b731;

    --green--: #26de81;
    --dark-green--: #20bf6b;

    --purple--: #a55eea ;
    --dark-purple--: #8854d0;

    --ocean--: #1d1d31;
    --dark-ocean--: #11101d;

    --night--: #353b48;
    --dark-night--: #2f3640;

    --grey--: #7f8fa6;
    --dark-grey--: #718093;

    --light--: #f5f6fa;
    --dark-light--: #dcdde1;
}



  
  
  /* Navbar */
  
  .navbar .logo img{
    width: 88px;
  }
  
  
  .navbar .search {
    position: relative;
    z-index: 1;
    width: 50%;
  }
  
  .navbar .search img {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
  }
  
  
  .navbar .search input {
    width: 100%;
    font-size: 14px;
    color: #333;
    border: 1px solid var(--light);
    border-radius: 6px;
    padding: 10px 40px 10px 15px;
    box-shadow: 1px 2px 8px rgb(243, 242, 242);
    outline: none;
    transition: all ease 0.3s;
  }
  
  
  
  .navbar .accaunt-navigator-container .user-icon-container{
    font-size: 14px;
  
  }
  
  .navbar .accaunt-navigator-container .user-icon-container:hover {
    color: #ff9f43;
  }
  
  
  .navbar .accaunt-navigator-container .favourite-icon-container{
    font-size: 14px;
  
  }
  
  .navbar .accaunt-navigator-container .favourite-icon-container:hover {
    color: #ff9f43;
  }
  
  .navbar .accaunt-navigator-container .cart-icon-container{
    font-size: 14px;
  
  }
  
  .navbar .accaunt-navigator-container .cart-icon-container:hover {
    color: #ff9f43;
  }
  
  
  .navbar .accaunt-navigator-container .far,
  .navbar .accaunt-navigator-container .fab
   {
    font-size: 17px;
  }
  


  
  /* Sub Nav */
  .main-nav{
    position: relative;
  }

  .main-nav > li {
    border-bottom: 2px solid transparent;
  }
  
  
  .main-nav > li:hover .sub-nav-title {
    color: #ff9f43;
  }
  
  .main-nav > li:hover {
    border-bottom: 2px solid #ff9f43;
  }
  
  .sub-nav {
    position: absolute;
    top: 100%;
    left: 50%;
   
    z-index: 999;
    transform: translate(-50%, 0);
    background: #fff;
    display: none;
    flex-wrap: wrap;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   
  }
  
  .main-nav > li:hover .sub-nav {
    display: flex;
    box-shadow: 1px 1px 8px #ddd;
  
  }
  
  .sub-nav {
    transition: 200ms;
  }
  
  .sub-nav > li > a:hover  {
    color: var(--yellow);
  }
  
  
  .sub-nav .sub-nav-category a:hover  {
    color: var(--yellow);
  }
  
  
  /* Home */
  
  .inner-shadow-2 {
    box-shadow: inset 0 .5rem 1.5rem rgba(0, 0, 0, 0.096)!important;

  }


 
  

  .product-box img {
    height: 200px;
    object-fit: cover;
  }
  
  /* Product section */
  
  .product-section .product{
    box-shadow: 1px 1px 8px #ddd;
    border-radius: 5px;
  
  }
  
  
  
  .product-section .product img {
    height: 150px;
    object-fit: cover;
    display: block;
  }
  
  .product-section .product .price {
    text-align: center;
    font-weight: 500;
    padding: 6px 16px;
    font-size: 17px;
  }
  

  /* Slider */



  .full-slider-wrapper {
    height: calc(100vh - 250px);
    border-radius: 5px;
  }

 




.full-slider-wrapper img {
  border-radius: 5px;
}


/* Slider btn */

.slider-container .carousel-control-next, .carousel-control-prev {
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translate(0, -50%);
 
}

.slider-container .box {
  position: relative;
  width: 100%;
  box-shadow: 1px 1px 8px #ddd !important;
  border-radius: 5px;
  overflow: hidden;
  
}

.slider-container .box .layer {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  opacity: 0;
  transition: ease-in-out 300ms;
  border-radius: 5px;
}

.slider-container .box:hover .layer{
  opacity: 0.8;
}

.slider-container .box:hover .layer .btn {
  z-index: 99;
}

.slider-container  img{
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.slider-container .product-heading {
  font-weight: 500;
  padding: 8px 16px;
}


/* Modal navbar */

.modal-container {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.274);
  display: none;
  padding-top: 150px;
  z-index: 999;
}


.modal-container .modal-box {
  width: 350px;
  background: #fff;
  border-radius: 5px;
  margin: 0 auto;
}


.modal-container .modal-box .signinText {
  font-weight: 500;
  font-size: 18px;
}

.modal-container .modal-box .modal-header {
  
  padding-bottom: 10px; 
}

.modal-container .modal-box .modal-footer a {
 font-size: 14px;
 
 transition: 100ms;
}

.modal-container .modal-box .modal-footer a:hover {
  font-size: 14px;
  color: var(--blue);
 }

.modal-container .modal-box .fa-times {
  cursor: pointer;
}


.sign_in_container {
  min-height: calc(100vh - 96px);
}


/* Product Detail */

.product_detail .scene{
  perspective: 300px;
  
}

.product_detail .box  {
  position: relative;
  height: 100px;
  transition: 500ms ease-in-out;
  transform-style: preserve-3d;
  
}


.product_detail .box .front {
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
}


.product_detail .box .back {
  position: absolute;
  width: 100%;
  height: 100%;

  transform: rotateY(180deg);
  backface-visibility: hidden;
}


.product_detail .box.active {
  transform: rotateY(-180deg);
}


/* .profile-section ul li {
  padding: 8px 16px;
} */


@media screen and (max-width: 539px) {


  
  .slider-container  img{
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .slider-container .product-heading {
    font-weight: 500;
    font-size: 10px;
    padding: 8px 16px;
  }


  .navbar-container {
    border-bottom: none;
    
  }

  .navbar {
    padding-top: 12px !important;
    padding-bottom: 12px !important;

  }

  .navbar .accaunt-navigator-container {
    display: none !important;

  }
  
  

  .navbar .bars-container{
    display: block !important;
    height: 30px;
    width: 30px;
    position: relative;
  }

  .navbar .bars {
    position: absolute;
    background: #000;
    width: 25px;
    height: 2px;
    top: 50%;
    transform: translate(0, -50%);
    transition: 100ms;
  }

  .navbar .bars:before {
    position: absolute;
    content: '';
    background: #000;
    width: 30px;
    height: 2px;
    transform: translate(0, -500%);
    transition: 300ms;
  }


  .navbar .bars:after {
    position: absolute;
    content: '';
    background: #000;
    width: 30px;
    height: 2px;
    transform: translate(0, 500%);
    transition: 300ms;
  }


  /* .navbar .bars-container .bars.active{
    background: transparent;
  }
  */


  /* .navbar .bars-container .bars.active:before {
    transform: rotate(-225deg);
  } */


  /* .navbar .bars-container .bars.active:after {
    transform: rotate(225deg);
  } */ 


  .navbar .search {
    width: 100%;
    order: 4;
  }

  /* Nav hidden icons */

  
  .nav-hidden-icons {
    display: flex !important;
    
  }




  .nav-hidden-icons i {
    font-size: 24px;
  }

  .accaunt-navigator-hidden-container {
    display: block !important;
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%;
    border-top: 1px solid var(--light);
    transition: 500ms;
    visibility: hidden;
    z-index: 999;
    
  }

  .accaunt-navigator-hidden-container.active {
    background: rgba(149, 149, 149, 0.116);
    visibility: visible;
  }



  /* .accaunt-navigator-hidden.active */

  .accaunt-navigator-hidden {
    position: absolute;
    top:  0;
    width: 80% !important;
    height: 100%;
    transition: 500ms;
    background: #fff;
    transform: translate(-100%, 0);
  }


  .accaunt-navigator-hidden.active {
    transform: translate(0);
  }


  

  .accaunt-navigator-hidden .logo img {
    width: 88px;
  }

  .accaunt-navigator-hidden .fa-times {
    font-size: 18px;
    color: #222;
  }

  /* .accaunt-navigator-hidden .times {
    position: relative;
    height: 24px;
    width: 24px;
  }

  .accaunt-navigator-hidden .times::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #222;
    transform: translate(0,-50%) rotate(135deg);
  }

  .accaunt-navigator-hidden .times::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #222;
    transform: translate(0,-50%) rotate(-135deg);
  } */


  


  .accaunt-navigator-hidden .icon-title {
    font-size: 20px;
  }

  .accaunt-navigator-hidden .uic{
    margin: 15px 0;
  }

  .main-nav {
    display: none !important;
  }


  .main-nav-hidden li,
  .main-nav-hidden-supcategory li{
    padding: 15px 0 ;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav-hidden {
    display: block;
  }

  .main-nav-hidden li i,
  .main-nav-hidden-supcategory li i {
    font-size: 16px;
    color: #999;
  }

  .main-nav-hidden.active {
    display: none;
  }
  

  .main-nav-hidden-supcategory {
    display: none;
    font-size: 16px;
    color: #999;
  }

  .main-nav-hidden-supcategory.active {
    display: block;
  }

  
  .main-hidden-supcategory-header {
    display: none;
    background: rgba(0, 0, 0, 0.486);
    
  }

  .main-hidden-supcategory-header .logo {
    height: 43.67px;
    font-size: 26px;
    display: flex;
    align-items: center;
    align-items: center;
    color: #fff;
  }


  .main-hidden-supcategory-header .fa-arrow-left {
    font-size: 18px;
    margin-right: 15px;
  }

  .main-hidden-supcategory-header .fa-times {
    color: #fff;
  }

  .hidden-menu-header.active {
    display: none;
  }

  .main-hidden-supcategory-header.active {
    display: block;
  }

  .product-section .product img {
    height: 80px;
  }

    .header-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 200px);
  }

  .header-grid div {
    box-shadow: 1px 1px 8px #ddd;
    border-radius: 5px;
  }

  .header-grid div:first-child {
    grid-column: 1/span 3;
    grid-row: 1/span 2;
  }

  /*  */
  .header-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1, 150px);
  }

  .header-grid div {
    box-shadow: 1px 1px 8px #ddd;
    border-radius: 5px;
  }

  .header-grid div:first-child {
    grid-column: 1/span 4;
    grid-row: 1/span 1;
  }

  .header-grid div:nth-child(2) {
    grid-column: 1/span 2;
    grid-row: 2/span 1 ;
  }

  .header-grid div:nth-child(3) {
    grid-column: 3/span 2;
    grid-row: 2/span 1 ;
  }

}


@media screen and (max-width: 767px) and (min-width: 540px){
  .navbar .accaunt-navigator-container {
    display: none;
  }



  

}

@media screen and (min-width: 0px) and (max-width: 576px) {
    .home_content .right img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }


    .settings-page ul li {
        width: 100%;
        margin: 0 !important;
    }


    .settings-page ul li a {
        display: flex;
        align-items: center;
        padding: 20px 16px !important;
        width: 100%;
    }

    
}


@media screen and (min-width: 576px) and (max-width: 768px) {
  
}


@media screen and (min-width: 768px) and (max-width: 992px) {
   
}


@media screen and (min-width: 992px) {
   
}